.ship{
    padding: 10px 100px;
    letter-spacing: 0.5px;
    text-align: center;
    background-color: rgb(242, 242, 242);
    .head{
     font-size: 2rem;
     color:hsl(24, 100%, 50%);
     border-bottom: solid  1px rgb(255, 0, 0);
     margin-bottom: 10px;
    }
    .desc{
        margin-top: 10px;
        font-size: 1.5rem;
        span{
            font-size: 2rem;
            font-weight: 500;
        }
    }
}